body {
    background: url('pic/shanghai_3.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#login-box {
    width: 600px;
    height: 350px;
    margin: 0 auto;
    margin-top: 13%;
    text-align: center;
    background: #00000060;
    padding: 40px 50px;
}

#login-box h1 {
    color: #fff;
}

#login-box .form .item {
    margin-top: 15px;
}

#login-box .form .item i {
    font-size: 18px;
    color: #fff;
}

#login-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #fff;
}

#login-box button {
    margin-top: 20px;
    width: 190px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    border: 0;
    border-radius: 15px;
}


/*添加单选框样式*/
#ci_or_con {
    font-size: 20px;
    color: gainsboro;
}

.menu {
    font-size: 20px;
    color: gainsboro;
    display: inline-block;
}
/*添加三级菜单样式*/
.menu select {
    width: 140px;
    height: 30px;
    /*text-align: center;*/
    line-height: 20px;
    font-size: 20px;
}

#ci_or_con input {
    width: 20px;
    height: 20px;
}


#ver-box h1 {
    color: #fff;
}

#ver-box .form .item {
    margin-top: 15px;
}

#ver-box .form .item i {
    font-size: 18px;
    color: #fff;
}

#ver-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #fff;
}

#ver-box button {
    margin-top: 20px;
    width: 190px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    border: 0;
    border-radius: 15px;
}


.bigbox {
    box-sizing: border-box;
    width: 600px;
    height: 180px;
    margin: 0 auto;
}

.map {
    box-sizing: border-box;
    width: 600px;
    height: 50px;
    margin: 0 auto;
}

li {
    box-sizing: border-box;
    /*float: left;*/
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: rgb(230, 226, 226);
    list-style: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(59, 59, 59);
    text-align: center;
    line-height: 48px;
    font-size: 20px;
    cursor: pointer;
}

li:nth-child(1) {
    border-left: 1px solid;
    border-color: rgb(59, 59, 59);
}

li:nth-child(3) {
    border-right: 1px solid;
    border-color: rgb(59, 59, 59);
}

.choose {
    background-color: rgb(216, 0, 0);
    color: rgb(255, 255, 255);
}

.content {
    /*padding: 20px;*/
    box-sizing: border-box;
    width: auto;
    height: 200px;
}

/*.content div {*/
/*    height: 280px;*/
/*}*/
